.container-weather {
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.container-weather h1 {
    font-size: 3rem;
    color: white;
}

.container-weather input {
    padding: 8px;
    border-radius:20px 0 0 20px;
    border: none;
    max-width: 300px;
    width: 50%;
    outline: none;
    margin-top: 2rem;
}

.container-weather button {
    background-color: gold;
    border: none;
    padding: 8px;
    border-radius:0 20px 20px 0;  
    cursor: pointer;  
    color: black;
    font-weight: 500;
    
}

.container-weather button:hover {
    background-color: goldenrod;
}


.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.spinner {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap; 
}

.actions button {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.actions button:first-child {
  background: #18ab64;
  color: white;
}

.btn-location {
  background: #f0f0f0;
  color: #333;
}

/* Container histórico */
.history {
  margin-top: 20px;
  text-align: center;
}


.history p {
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

/* Lista dos botões */
.history button {
  margin: 5px;
  padding: 8px 14px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: 0.25s ease;
}

/* Botões cidades */
.history button:not(:last-child) {
  background: #f5f5f5;
  color: #333;
}

.history button:not(:last-child):hover {
  background: #18ab64;
  color: white;
  transform: translateY(-2px);
}

/* Botão limpar histórico */
.history button:last-child {
  background: #ffeded;
  color: #d62828;
}

.history button:last-child:hover {
  background: #ff4d4d;
  color: white;
}


