.container-weather {
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.container-weather h1 {
    font-size: 3rem;
    color: white;
}

.container-weather input {
    padding: 8px;
    border-radius:20px 0 0 20px;
    border: none;
    max-width: 300px;
    width: 50%;
    outline: none;
    margin-top: 2rem;
}

.container-weather button {
    background-color: gold;
    border: none;
    padding: 8px;
    border-radius:0 20px 20px 0;  
    cursor: pointer;  
    color: black;
    font-weight: 500;
    
}

.container-weather button:hover {
    background-color: goldenrod;
}


.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.spinner {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
