.forecast-container {
  text-align: center;
  margin-top: 20px;
}

.forecast-container h2 {
  margin-bottom: 1rem;
}

.forecast-days {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.forecast-card {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}
